body{
    margin: 0 0;
    padding: 0;
    color: #242424;
    font-family: "Roboto-Regular";
    word-wrap: break-word;
    overflow: break-word;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Roboto-Bold";
    color: #000;
}
.wrapper{
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

main{
    display: block;
    background-color: #242424;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    
}   

section.module p{
    margin-bottom: 40px;
   
} 
section.module:last-child{
    margin-bottom: 0;
} 

section.module h2{
    font-size: 30px;
    margin-bottom: 40px;
}

section.module.content{
    padding: 40px 0;
    background: #ece7d5;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;


}

section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position:absolute;
    z-index:  8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
    background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
    background: -ms-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.module.parallax1{
    background-image: url(../images/76329-Barbearia-Do-Alemao.jpg);
}

section.module.parallax2{
    background-image: url(../images/images.jpg);
}

section.module.parallax3{
    background-image: url(../images/istockphoto-1279799263-612x612.jpg);
    
}

section.module.parallax h1{
    font-size: 78px;
    color: #fff;
    text-align: center;
    z-index: 50;
    text-transform: uppercase;
}