<div class="gallery-container">
  <h1>Galeria de Fotos</h1>
  
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://i.postimg.cc/DzWHSK4r/download-1.jpg" alt="Foto 1">
    </div>
    <div class="gallery-item">
      <img src="https://i.postimg.cc/133LZF9Y/download-4.jpg" alt="Foto 2">
    </div>
    <div class="gallery-item">
      <img src="https://i.postimg.cc/dQ8MRvHn/download-2.jpg" alt="Foto 3">
    </div>
    <div class="gallery-item">
      <img src="https://i.postimg.cc/tJbMvZSk/Freddie.jpg" alt="Foto 4">
    </div>
    <div class="gallery-item">
      <img src="https://i.postimg.cc/NfY3pVZt/opvoeden-aleid-truijens-getty-images.jpg" alt="Foto 5">
    </div>
    <div class="gallery-item">
      <img src="https://i.postimg.cc/gJ87KqDr/Samuel-L-Jackson.jpg" alt="Foto 6">
    </div>
  </div>
</div>