<section class="home-contato">
  <h2 class="contato-titulo-estiloso">Contato rápido</h2>
  <div class="contato-imagens">
    <img src="https://i.postimg.cc/GmcHndSm/download-5.jpg" alt="Contato 1" class="contato-img" />
    <img src="https://i.postimg.cc/nLWzm7VX/download-6.jpg" alt="Contato 2" class="contato-img" />
    <img src="https://i.postimg.cc/cJCC6TWq/download-7.jpg" alt="Contato 3" class="contato-img" />
  </div>
  
  <div class="contato-card">
    <div class="contato-info">
      <div class="contato-row">
        <div class="contato-icon"><i class="fa fa-phone"></i></div>
        <div class="contato-text">
          <div class="contato-label">Celular para contato</div>
          <div class="contato-value">(14) 99999-9999</div>
        </div>
      </div>
      
      <div class="contato-row">
        <div class="contato-icon"><i class="fa fa-map-marker"></i></div>
        <div class="contato-text">
          <div class="contato-label">Endereço do além</div>
          <div class="contato-value">Rua do Além, 666 - Botucatu/SP</div>
        </div>
      </div>
      
      <div class="contato-row">
        <div class="contato-icon"><i class="fa fa-clock-o"></i></div>
        <div class="contato-text">
          <div class="contato-label">Horário de atendimento</div>
          <div class="contato-value">Seg a Sáb: 9h às 17h</div>
        </div>
      </div>
    </div>
  </div>
</section>


