<section class="home-contato">
  <h2 class="contato-titulo-estiloso">Contato rápido</h2>
  <div class="contato-imagens">
    <img src="https://i.postimg.cc/GmcHndSm/download-5.jpg" alt="Contato 1" class="contato-img" />
    <img src="https://i.postimg.cc/nLWzm7VX/download-6.jpg" alt="Contato 2" class="contato-img" />
    <img src="https://i.postimg.cc/cJCC6TWq/download-7.jpg" alt="Contato 3" class="contato-img" />
  </div>
  <div class="contato-info-estiloso">
    <div class="contato-item">
      <i class="fa fa-phone"></i>
      <span class="contato-label">Celular para contato:</span>
      <span class="contato-destaque">(14) 99999-9999</span>
    </div>
    <div class="contato-item">
      <i class="fa fa-map-marker"></i>
      <span class="contato-label">Endereço do além:</span>
      <span class="contato-destaque">Rua do Além, 666 - Botucatu/SP</span>
    </div>
  </div>
  <p><i class="fa fa-clock"></i> Seg a Sáb: 9h às 19h</p>
</section>


